#main{
    width: 80%;
    margin: 20px auto;
    border: 2px solid black;
    text-transform: uppercase;
}
.img-section{
    width: 25%;
    float: left;
    height: 100%;
    background-color: blue;
}
#div1{
    
    width: 100%;
    height: 130px;
    background-color: red;
}
.div2{
    height: 100%;
    width: 75%;
    float: right;
    background-color: #302B28;
}
html{
    font-size: 10px;
}
.heading1{
    font-size: 5rem;
    padding-left: 100px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 6px;
    text-shadow: 2px 3px 2px;
}
.heading2{
    font-size: 4rem;
    padding-left: 400px;
    margin-top: 5px;
    padding-top: none;
    text-shadow: 2px 3px 2px;
    
}
.body-section{
    width: 100%;
    height: 405px;
    background-color: #f2aaaa;
}
.block1{
    width: 100%;
    height: 100px; 
}
.sub-block1{
    height: 100%;
    width: 34%;
    float: left;
    margin: 0px 5px;
}
.sub-block2{
    height: 100%;
    width: 25%;
    float: left;
    text-align: center;
}
.sub-block3{
    height: 100%;
    width: 39%;
    float: left;
    text-align: center;
    margin-left: 5px;
    
}
.wrote1{
    text-align: center;
    padding-top: 30px;
    font-size: 2.5rem;
    border: 2px solid;
    padding-bottom: 30px;
    margin-top: 3px;
    margin-bottom: 0px;
    border-radius: 10px;
    text-shadow: 2px 2px 5px;
}
.div3{
    width: 100%;
    height: 90px;
    background-color: #302B28;
    padding-top: 5px;
}
.last1{
    float: left;
}
.last2{
    float: right;
    font-size: 20px;
    padding-right: 10px;
}
.l-last1{
    font-size: 15px;
    margin-top: 2px;
    color: white;
}

